<div class="p-modal is-open-modal js-close-modal">
  <a href="{{url}}" class="p-portfolio" target="_blank">
    <div class="p-portfolio__thumbnail">
      <img src="{{thumbnail}}" alt="{{alt}}" width="180" height="auto">
    </div>
    <h2 class="p-portfolio__title">{{title}}</h2>
    <p class="p-portfolio__source">{{url}}</p>
    <p class="p-portfolio__description">{{description}}</p>
  </a>
</div>